/* Body style */
body {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    -webkit-font-smoothing: antialiased;
    font-family: system-ui, -apple-system, ".Helvetica NeueUI", "Helvetica Neue", Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    scroll-behavior: smooth;
    animation: fadeInAnimation 1s ease;
    animation-fill-mode: forwards;
    -webkit-animation: fadeInAnimation 1s ease;
    -webkit-animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: .5;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeInAnimation {
    from {
        opacity: .5;
    }

    to {
        opacity: 1;
    }
}

/* Scroll-to-top button */
.top {
    z-index: 99;
    bottom: 30px;
    right: -100px;
    position: fixed;
    box-sizing: border-box;
    padding: 0;
    width: 50px;
    height: 50px;
    font-size: 200%;
    text-align: center;
    outline: none;
    color: white;
    background-color: black;
    border: 0;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
    cursor: pointer;
}

/* ==== GLOBAL TAGS STYLE ==== */
/* Section titles */
body section>h2 {
    margin-top: 50px;
    margin-bottom: 10px;
    width: 88vw;
    max-width: 650px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

/* Add to repo desktop info */
body>em {
    display: flex;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Section titles & add to repo info */
body section>h2,
body>em {
    padding-left: 20px;
    padding-right: 20px;
}

/* All links */
a {
    color: black;
    text-decoration: none;
    margin: 10px;
    border: black 1px solid;
    border-radius: 30px;
    padding: 0 20px 0 20px;
}

/* All img in links */
a img {
    height: 20px;
    vertical-align: -4px;
    border-radius: 20%;
    margin-right: 3px;
}

/* Hr in content */
hr {
    color: black;
}

/* Global sections style */
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

/* Animated links */
.link {
    display: inline-block;
}

/* Packages */
.package {
    color: black;
    padding-top: 20px;
    width: 185px;
    transition-duration: 200ms;
}

.package img {
    height: 150px;
}

.package:hover {
    opacity: 60%;
    transition-duration: 200ms;
}

/* Footer */
footer {
    margin-top: 100px;
    font-size: 75%;
}

/* ==== */

/* ==== ADD REPO SECTION ==== */
section#add-repo {
    display: none;
    align-items: stretch;
}

section#add-repo .link::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: black;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

section#add-repo a:hover>.link::after,
.link:hover::after {
    width: 100%;
}

/* ==== */

/* ==== CONTACT SECTION ==== */
section#contact>a {
    width: 80vw;
    text-align: left;
    margin-bottom: 0;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}

section#contact>a::after,
section#contact button#collapsible::after {
    content: "›";
    color: black;
    font-weight: medium;
    float: right;
    margin-right: 5px;
    font-size: 30px;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}

section#contact>a::after {
    transform: translateY(5px);
}

section#contact button#collapsible::after {
    line-height: 50%;
}

section#contact>a:hover::after {
    margin-right: 0;
}


section#contact button#collapsible.active::after {
    transform: rotate(90deg) translate(3px, -1px);
}

/* WHOAMI button */
/* Button */
section#contact button#collapsible {
    width: 80vw;
    min-width: 90%;
    background: none;
    cursor: pointer;
    outline: none;
    color: black;
    text-decoration: none;
    text-align: left;
    font-size: medium;
    border: black 1px solid;
    border-radius: 30px;
    padding: 15px 20px;
    margin: 10px 10px 0 10px;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
    z-index: 10;
}

section#contact button#collapsible img {
    height: 20px;
    border-radius: 20%;
    vertical-align: -4px;
    float: left;
    margin-right: 7px;
}

/* All content of dropdown */
section#contact div.content {
    padding: 0 18px;
    margin: -1px auto 20px auto;
    background-color: lightgrey;
    width: 65vw;
    max-width: 85%;
    -webkit-transition: height 1.5s cubic-bezier(.34, 1.3, .64, 1);
    -moz-transition: height 1.5s cubic-bezier(.34, 1.3, .64, 1);
    -ms-transition: height 1.5s cubic-bezier(.34, 1.3, .64, 1);
    -o-transition: height 1.5s cubic-bezier(.34, 1.3, .64, 1);
    transition: height 1.5s cubic-bezier(.34, 1.3, .64, 1);
    height: 0px;
    overflow: hidden;
}

section#contact div.content>a {
    padding: 20px 0 10px 0;
    font-size: large;
    background: none;
    border: none;
    -webkit-transition: 250ms;
    -moz-transition: 250ms;
    -ms-transition: 250ms;
    -o-transition: 250ms;
    transition: 250ms;
}

section#contact div.content>a:hover {
    font-weight: bold;
}

/* Markdown part */
section#contact div.content div#markdown {
    margin: 20px 0;
    text-align: left;
}

section#contact div.content div#markdown a {
    color: #0366d6;
    margin: 0;
    border: none;
    padding: 0;
}

section#contact div.content div#markdown a:hover {
    text-decoration: underline;
}

section#contact div.content div#markdown a img {
    max-width: 100%;
    height: auto;
    vertical-align: initial;
    border-radius: 0;
    margin-right: 0;
}

/* end of WHOAMI */

section#contact>a[href*="twitter"]:hover {
    background-color: rgba(28, 163, 243, 0.5);
    border-color: rgb(28, 163, 243);
}

section#contact>a[href*="github"]:hover,
section#contact button#collapsible:hover {
    background-color: rgba(16, 18, 21, 0.5);
    border-color: rgb(16, 18, 21);
}

section#contact>a[href*="reddit"]:hover {
    background-color: rgba(249, 69, 13, 0.5);
    border-color: rgb(249, 69, 13);
}

section#contact>a[href*="discord"]:hover {
    background-color: rgba(87, 105, 242, 0.5);
    border-color: rgb(87, 105, 242);
}

section#contact>a[href*="mail"]:hover {
    background-color: rgba(28, 142, 245, 0.5);
    border-color: rgb(28, 142, 245);
}

section#contact>a[href*="paypal"]:hover {
    background-color: rgba(4, 91, 158, 0.5);
    border-color: rgb(4, 91, 158);
}

/* ==== */

/* ==== DEVICES SECTION ==== */

section#devices table {
    border-collapse: collapse;
    max-width: 80vw;
}

section#devices table tbody#devices-list tr td {
    padding: 8px;
}

section#devices table tbody#devices-list tr:not(:last-child) {
    border-bottom: 1px solid black;
}

section#devices table tbody#devices-list tr td img {
    vertical-align: -4px;
    height: 20px;
    margin-right: 3px;
}

section#devices table>caption {
    caption-side: bottom;
    font-style: italic;
    font-size: small;
    margin-top: 10px;
    color: dimgray;
}

/* ==== */


/* ==== DARK MODE ==== */
@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background-color: black;
    }

    hr {
        color: white;
    }

    .top {
        color: black;
        background-color: white;
    }

    .link {
        color: white;
    }

    a,
    section#contact button#collapsible {
        color: white;
        border-color: white;
    }

    section#add-repo .link::after {
        background: white;
    }

    section#contact>a::after,
    section#contact button#collapsible::after {
        color: white;
    }

    section#contact div.content {
        background-color: #181a1b;
    }

    section#contact div.content div#markdown a {
        color: #4cacfc;
    }

    .package {
        color: white;
    }

    section#devices table tbody#devices-list tr:not(:last-child) {
        border-bottom: 1px solid white;
    }

    section#devices table tbody#devices-list tr td img[src*="checkra.in"] {
        -webkit-filter: invert();
        filter: invert();
    }

    section#devices table>caption {
        color: gray;
    }

    .not-apple::-webkit-scrollbar {
        background-color: #202324;
        color: #aba499;
    }

    .not-apple::-webkit-scrollbar-corner {
        background-color: #181a1b;
    }

    .not-apple::-webkit-scrollbar-thumb {
        background-color: #454a4d;
    }
}

/* ==== */
